.dashboard {
  background: #f3f7fa !important;
  height: 100vh !important;
  margin-top: 3.5em !important;
  padding: 0.5em 0.5em !important;
}
.dashboard-container {
  margin: 1em 1em !important;
  background: #fff !important;
}
/* .dash-header {
  padding: 0.4em 1em !important;
  display: flex !important;
  justify-content: space-between !important;
}
.dash-header p {
  color: #702632 !important;
  font-weight: 500 !important;
  margin-bottom: 0px !important;
  margin-top: 0.3em !important;
} */

/* .ui.search .prompt {
  background: transparent !important;
  border: unset !important;
  border-bottom: 1px solid #5e5e5e !important;
  border-radius: 0px !important;
  margin-top: -1.2em !important;
}

.ui.search .prompt:active,
.ui.search .prompt:focus {
  border-bottom: 1px solid #2d90f5 !important;
}

.ui.icon.input i {
  margin-top: -0.4em !important;
}

.ui.search .prompt:active + i,
.ui.search .prompt:focus + i {
  color: #2d90f5 !important;
} */

.tag-list {
  background: #eef1f8 !important;
  padding: 0.6em 1em !important;
}
p.tag-item {
  margin-right: 0.4em !important;
  margin-top: 0.3em !important;
  background: #a5abb6 !important;
  padding: 0.5em 0.8em !important;
  border-radius: 0.1em !important;
  transition: all linear 400ms !important;
  cursor: pointer !important;
}

p.tag-item:hover,
p.tag-item:focus {
  background: #702632 !important;
}
.ui.horizontal.list:not(.celled) > .item:first-child {
  padding-left: 0.8em !important;
}

.list-container {
  height: 4.3em !important;
  overflow: hidden !important;
  overflow-y: scroll !important;
}

.ui.horizontal.list p {
  color: #fff !important;
  font-size: 11px !important;
}
